## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

## Visual Studio Code
.vscode/
*.code-workspace

## Visual Studio
.vs/
*.ncrunch*
*.[Cc]ache
*.dbmdl
*.jfm
*.pfx
*.publishsettings

## Rider
.idea/

## SQLite
*.db
*.db-shm
*.db-wal

## Logs
*.log
logs/

## Environment Files
*.env
.env.*
!.env.example

## Build results
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets
